{% load static %}

<footer class="footer">
  <!-- Footer Top Area Starts -->
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <!-- Footer Widget Starts -->
        <div class="col-sm-4 col-md-2">
          <h4 style="color:#3e3be3">Quick Links</h4>
          <div class="menu">
            <ul>
              <li><a href="{% url 'basic:index' %}">Home</a></li>
              <li><a href="{% url 'basic:about' %}">About Us</a></li>
              <li><a href="{% url 'basic:faq' %}">FAQs</a></li>
              <li><a href="{% url 'basic:terms' %}">Terms and Conditions</a></li>
              <li><a href="{% url 'basic:contact' %}">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- Footer Widget Ends -->
        <!-- Footer Widget Starts -->
        <div class="col-sm-4 col-md-2">
          <h4 style="color:#3e3be3">Help & Support</h4>
          <div class="menu">
            <ul>
              <li><a href="https://cointelegraph.com/bitcoin-for-beginners/what-are-cryptocurrencies">What is Bitcoin?</a></li>
              <li><a href="http://localbitcoins.com/">Buy Bitcoin</a></li>

              <li><a href="{% url 'basic:register' %}">Register</a></li>
              <li><a href="{% url 'basic:login' %}">Login</a></li>

            </ul>
          </div>
        </div>
        <!-- Footer Widget Ends -->
        <!-- Footer Widget Starts -->
        <div class="col-sm-4 col-md-3">
          <h4 style="color:#3e3be3">Contact Us </h4>
          <div class="contacts">


            <div>
              <span><a href="mailto:support@binaryexchangeoptions.com"  style="color:#3e3be3">Support@binaryexchangeoptions.com</a></span>
            </div>

            <div>
              <span>mon-sun 24/7</span>
            </div>
            <span>OFFICE ADDRESS:</span></br>
            <b>20 miles North, Mountain View, California</b></br>
            <span>TELEPHONE NUMBER:</span></br>
            <b>+1 (917)-426-5410 </b>
            <b></b>
          </div>
          <!-- Social Media Profiles Starts -->
          <div class="social-footer">
            <div class="social_link">
              <a href="https://t.me/binaryexchangeoptions"><img src="{% static 'assets/images/telegram.png' %}" alt="Telegram"></a>

            </div>
          </div>
          <!-- Social Media Profiles Ends -->
        </div>
        <!-- Footer Widget Ends -->
        <!-- Footer Widget Starts -->
        <div class="col-sm-12 col-md-5">
          <!-- Facts Starts -->
          <div class="facts-footer">
            <div>
              <h5 style="color:#3e3be3">$640.0B</h5>
              <span>market Cap</span>
            </div>
            <div>
              <h5 style="color:#3e3be3">506,608</h5>
              <span>Daily transactions</span>
            </div>
            <div>
              <h5 style="color:#3e3be3">342K</h5>
              <span>Active accounts</span>
            </div>
            <div>
              <h5 style="color:#3e3be3">27+</h5>
              <span>Supported Countries</span>
            </div>

          </div>
          <!-- Facts Ends -->
          <hr>
          <!-- Supported Payment Cards Logo Starts -->
          <div class="payment-logos">
            <h4 class="payment-title">supported payment methods</h4>
            <img src="{% static 'assets/images/5b55bb652af1a.png' %}" alt="Bitcoin" heigh="45px" width="55px">
            <img src="{% static 'assets/images/1532345051h7.png' %}" alt="Ethereum" heigh="45px" width="55px">
            <img src="{% static 'assets/images/1532345115h7.png' %}" alt="Skrill" heigh="45px" width="55px">
          </div>
          <!-- Supported Payment Cards Logo Ends -->
        </div>
        <!-- Footer Widget Ends -->
      </div>
    </div>
  </div>
  <!-- Footer Top Area Ends -->
  <!-- Footer Bottom Area Starts -->
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Copyright Text Starts -->
          <p class="text-center">Copyright Binary Exchange Options, All Rights Reserved.</p>
          <!-- Copyright Text Ends -->
        </div>
      </div>
    </div>
  </div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/607b158bf7ce1827093b62eb/1f3it00v8';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</footer>